<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :first_name, required: true %>
    <%= f.input :middle_name, required: false %>
    <%= f.input :last_name, required: true %>
    <%= f.input :drivers_license, required: true %>
    <%= f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 15, :end_year => 1900, :order => [ :day, :month, :year], :required => true %>
    <%= f.input :street_number, required: true %>
    <%= f.input :street_name, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :state, required: true %>
    <%= f.input :zip_code, required: true %>
    <%= f.file_field :file %>


  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Change of Address Request", class: 'btn btn-primary btn-lg'%>
  </div>
<% end %>

<!--, "Submit Change of Address Request", class: 'btn btn-primary btn-lg' -->