<div class="jumbotron">

<h1>Submitted Forms</h1>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Form ID</th>
      <th>Submitted</th>
      <th>View Form</th>
      <th>Cancel Form</th>
    </tr>
  </thead>

  <% if current_user %> 
  <tbody>
    <% @address.each do |address| %>
      <tr>
        <td><%= address.first_name %></td>
        <td><%= time_ago_in_words(address.created_at) %> ago</td>
        <td><%= link_to 'view', address.file %></td>
        <td><%= link_to 'cancel', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
<% if current_user %> 
<a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %>
<% end %> 

</div>
