<h1>Submitted Forms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Form Name</th>
      <th>Download Form</th>
      <th>View Submission</th>
      <th>Cancel Submission</th>
    </tr>
  </thead>

  <% if current_user %> 
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.first_name %></td>
        <td><%= link_to 'download', address.file %></td>
        <td><%= link_to 'view', address %></td>
        <td><%= link_to 'cancel', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
<% if current_user %> 
<a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %>
<% end %> 

