<h1>Submitted Forms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>New Address</th>
      <th>FORM</th>
      <th>Submitted On</th>
    </tr>
  </thead>

  <% if current_user %> 
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.first_name %> <%= address.middle_name %> <%= address.last_name %></td>
        <td><%= address.street_number %> <%= address.street_name %>, <%= address.city %> <%= address.state %> <%= address.zip_code %></td>
        <td><%= link_to 'Form', address.file %></td>
        <td><%= address.submitted_on %></td>
        <td><%= link_to 'View', address %></td>
        <td><%= link_to 'Cancel Request', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
<% if current_user %> 
<a class="btn btn-primary btn-lg" role="button" <%= link_to 'submit a new form', new_address_path %>
<% end %> 

