<h1>Submission History</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>New Address</th>
      <th>Submitted On</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.first_name %> <%= address.middle_name %> <%= address.last_name %></td>
        <td><%= address.street_number %> <%= address.street_name %>, <%= address.city %> <%= address.state %> <%= address.zip_code %></td>
        <td><%= address.submitted_on %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %> 
<%= link_to 'Submit New Change of Address Request Form', new_address_path %>
<% end %> 