<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @address.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @address.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @address.last_name %>
</p>

<p>
  <strong>Drivers license:</strong>
  <%= @address.drivers_license %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @address.date_of_birth %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @address.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @address.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>Submitted on:</strong>
  <%= @address.submitted_on %>
</p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
