<p id="notice"><%= notice %></p>

<p>
  <strong>Form Name:</strong>
  <%= @address.first_name %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Form', @address.file %>
  <%= filepicker_js_include_tag %>
</p>


<%= link_to 'return to forms list', addresses_path %> | <%= link_to 'return to dashboard', dashboard_path %>
