<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.label(:reason, "Reason for visit: ") %>
    <%= f.select(:reason, { 'Permit Test' => "Permit Test", 'Drivers Test' => "Drivers Test", 'License Renewal' => "License Renewal", 'Vehicle Registration' => "Vehicle Registration", 'Title Transfer' => "Title Transfer", 'Pay Fees' => "Pay Fees", 'Other' => "Other"}) %>
    <br>
    <br>
    <%= f.input :slot, required: true %>
  </div>



  <br>

  <div class="form-actions">
  	<%= f.submit 'schedule appointment', class: 'btn btn-primary btn-lg'%>
  </div>



  

  <% end %>