<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Date/Time:</strong>
  <%= @appointment.slot %>
</p>

<%= link_to 'return to appointments list', appointments_path %> | <%= link_to 'return to dashboard', dashboard_path %>
